.section-wrapper {
  position:relative;
}
.section-title {
  top:12px;
  left:50%;
  transform: translate(-50%,0);
  position:absolute;
}

.section-container-top {
  padding-top: 4.25rem;
}

.full-view-height {
  height:100vh;
}
