.header-container {
  position:fixed;
  top: 0px;
  width:100%;
  z-index: 1000;
}
.header-wrapper {
  height: 62px;
}

.sub-header a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #4287f5;
  }

  span {
    color: black;
  }

}
