<div class="header-container">
<div class="header-wrapper bg-primary">
 <div class="container h-100">
   <div class="row h-100 align-items-center">
     <div class="col-3">

     </div>
     <div class="col-6 text-center">
       <img [src]="imagePath + 'jl-dev-studio-header.png'" alt="header image" />
     </div>
     <div class="col-3">

     </div>
   </div>
 </div>
</div>
<div class="sub-header py-1 bg-light">
  <div class="container">
    <a class="sub-header-link" (click)="scrollTo(item?.toId)" *ngFor="let item of menus; let last = last">{{item?.label}}
      <ng-container *ngIf="!last">
        <span class="mx-2">|</span>
      </ng-container>
    </a>
  </div>
</div>
</div>
